html {
	font-family: Serif;
}
.section {
	overflow-wrap: break-word;
}
.content {

	font-size: 1em;
	overflow-wrap: break-word;
	overflow: visible;

	@media (orientation: portrait) {
		width: 90%;
	}
	@media (orientation: landscape) {
		width: 50%;
	}
	margin: auto;
	font-family: Serif;
	h1 {
		font-family: Serif;
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
}

a {
	color: black;
}

ul {
	padding-left: 0px;
	list-style-type: none;
}

li {
	list-style-type: none;
}


.navbar {
	font-family: Serif;
	font-size: 1em;
	border-bottom: 1.5px solid;
	ul {
		margin: 0;
		padding: 0;
		display:inline;
	}
	li {
		list-style-type: none;
		display:inline;
		a {
			margin-right: 10px;
			padding: 3px;
			text-decoration: none;
			text-align: center;
		}
		a:hover {
			background-color: black;
			color: white;
		}
	}
}

pre {
	padding: 1rem;
	overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
	padding: 1rem 0;
}
pre table td {
	padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
	text-align: center;
	user-select: none;
}
pre mark {
	// If you want your highlights to take the full width.
	display: block;
	// The default background colour of a mark is bright yellow
	background-color: rgba(254, 252, 232, 0.9);
}
pre table {
	width: 100%;
	border-collapse: collapse;
}
