<!DOCTYPE HTML>
<html lang=en>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>risgrynsgröt</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<div class="navbar">
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="{{ get_url(path='@/blog/_index.md') }}">posts</a></li>
			<li><a href="{{ get_url(path='@/inspiration/_index.md') }}">inspiration</a></li>
		</ul>
	</div>
	<section class="section">
		<div class="content">
			{% block content %} {% endblock %}
		</div>
	</section>
</body>

</html>
