{% extends "base.html" %}

{% block content %}
<h1 class = "title">
	{{ page.title }}
</h1>
<p class="subtitle">
	<strong>{{ page.date }} - {{ page.reading_time }} minutes to read</strong>
</p>
{{ page.content | safe }}
{% endblock content %}
