{% extends "base.html" %}

{% block content %}
<h1 class="title">
	{{ section.title }}
</h1>
<ul>
	{% for page in section.pages %}
	{% set image_path = page.path ~ page.extra.header_img %}
	{% set image = resize_image(path=image_path, width=500, height=300, op="fit") %}
	<li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
	<img src="{{ image.url }}" />
	{% endfor %}
</ul>
{% endblock content %}
