{% extends "base.html" %}

{% block content %}
<h1 class="title">
	risgrynsgrot();
</h1>

{% set blog_section = get_section(path="blog/_index.md") %}
<ul>
{% for post in blog_section.pages %}
	{% if loop.index <= 5 %}
		<li>[{{ post.date }}] - <a href="{{ post.permalink | safe }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>

{% endblock content %}
